body {
  direction: rtl;
  overflow-x: hidden;
}

:root {
  --color-one: #a2d2ff;
  --color-two: #002e5a;
  --color-there: #ffeea3;
  --color-four: #a3ffee;
}

.text-size-lg {
  font-size: calc(2.5vw + 1.5rem);
}
.text-size-md {
  font-size: calc(1vw + 1rem);
}
.text-size-sm {
  font-size: calc(0.5vw + 1rem);
  font-weight: 100 !important;
  color: #373737 !important;
}
.bg-main {
  background: var(--color-one);
}
.bg-second {
  background-color: var(--color-there);
}
.bg-third {
  background-color: var(--color-two);
}
.text-main {
  color: var(--color-two);
}
/* btn styles */

.btn-main {
  background-color: var(--color-one) !important;
  color: var(--color-two) !important;
  overflow: hidden;
  border: none;
}
.btn-second:hover {
  background-color: var(--color-there) !important;
}
.btn-second:active {
  background-color: var(--color-there) !important;
  color: var(--color-two) !important;
}
.btn-second {
  background-color: var(--color-there) !important;
  overflow: hidden;
  border: none;
}
.btn-main:hover {
  background-color: var(--color-one);
  color: var(--color-two);
}
.btn-main:active {
  background-color: var(--color-one) !important;
}
.btn {
  outline: 0.1px solid rgba(0, 0, 0, 0.278);
}
.btn:hover::before {
  width: 100%;
  right: 0;
}
.btn::before {
  content: "";
  border-radius: inherit;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #ffffff40;
  width: 0%;
  height: 100%;
  transition: 0.5s;
}
.btn:hover::after {
  width: 100%;
  left: 0;
  transition: 1s;
}
.btn::after {
  content: "";
  border-radius: inherit;
  top: 0;
  right: 0;
  position: absolute;
  background-color: #ffffff40;
  width: 0%;
  height: 100%;
  transition: 0.5s;
}

/* navbar styles  */

#nav-icon {
  width: 2rem;
  height: 1.5rem;
  margin: auto;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: var(--color-one);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 9px;
}

#nav-icon span:nth-child(3) {
  top: 18px;
}

#nav-icon.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* hover nav items  */

.nav-link:hover {
  color: var(--color-one) !important;
  transform: scale(1.1);
}
.nav-link {
  position: relative;
  transition: 0.3s;
  margin: 0.25rem 0.75rem;
}
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-one);
  position: absolute;
  bottom: 0px;
  right: 0;
  transition: 0.5s;
  transform: translateY(10px);
  opacity: 0;
}
.nav-link::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-one);
  position: absolute;
  top: 0px;
  right: 0;
  transition: 0.5s;
  transform: translateY(-10px);
  opacity: 0;
}
.nav-link:hover::after,
.nav-link:hover::before {
  transform: translateY(0px);
  height: 2px;
  opacity: 1;
}
